/* DT208G - Programmering i TypeScript
 * Moment 2
 * Linn Eriksson, VT24
 */

//Styling of table.
table {

    width: 100%;

    tr:nth-child(even) {
        background-color: $light-secondary-color;
    }
    
    th {
        border-bottom: 2px $dark-primary-color solid;
        text-align: left;
    }

    td, th {
        padding: 1%;
        padding-right: 3%;  
    }
}